<h1>Name: </h1>
<%= 'Mike Wang' %>
<br/>
<h1>Picture: </h1>
<%=image_tag "MikeWang.jpeg"  %>
<br/>
<h1>From: </h1>
<%= 'San Ramon' %>
<br />
<h1>Year: </h1>
<%= 'Sophomore' %>
<br />
<h1>Fun Fact:</h1>
<%= "I love tennis" %>
<br />
<h1>Excited About:</h1>
<%= 'Making websites!!!!' %>
