<h1>Name: </h1>
<%= 'Mike Wang' %>
<br/>
<h1>Picture: </h1>
<%=  %>
<br/>
<h1>From: </h1>
<%= 'San Ramon' %>
<br />
<h1>year: </h1>
<%= 'Sophomore' %>
<br />
<h1>fun fact</h1>
<%= "I love tennis" %>
<br />
<h1>excited about</h1>
<%= 'Making websites!!!!' %>
